<div class="row">
    <div class="col-md-12">
        <h1 jhiTranslate="backoffice.home.busCompany.vehicles" class="lg-title mb-0 float-start">Vehicles</h1>
        <a [routerLink]="['/operator/vehicles/new']">
            <button type="button" class="btn btn-circle btn-primary btn-md font-white float-end">
                <fa-icon icon="plus" class="pe-2"></fa-icon>{{ 'backoffice.add' | translate }}
            </button>
        </a>
    </div>
</div>

<jhi-alert></jhi-alert>

<br>

<form class="form-row d-flex px-2">
    <div class="input-group w-25">
        <input type="text" class="form-control" placeholder="{{'backoffice.search' | translate}}"
            name="filterName" [(ngModel)]="designationFilter" (ngModelChange)="textSearchUpdate.next($event)">
    </div>
    <button class="btn btn-light margin-l-10" type="submit" (click)="resetFilter()">
        {{ 'audits.filter.button.clear' | translate }}
    </button>
</form>

<hr>

<p-table [value]="vehicleList" dataKey="id">
    <ng-template pTemplate="header">
        <tr>
            <th>{{ 'familityBackofficeApp.location.designation' | translate }}</th>
            <th>{{ 'backoffice.home.busCompany.license-plate' | translate }}</th>
            <th>{{ 'backoffice.home.busCompany.itinerary.vehicle-capacity' | translate }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
        <tr class="pointer" (click)="goToEdit(vehicle.id)">
            <td>{{ vehicle.designation}}</td>
            <td>{{ vehicle.licensePlate }}</td>
            <td>{{ vehicle.capacity }}</td>
        </tr>
    </ng-template>
</p-table>

<br>

<div class="pagination">
  <ngb-pagination
    [collectionSize]="totalElements"
    [page]="page + 1"
    [pageSize]="pageSize"
    [maxSize]="5"
    [rotate]="true"
    (pageChange)="changePage($event)"
  >
      <ng-template ngbPaginationPrevious>
          <div jhiTranslate="global.paginator.previous">Previous</div>
      </ng-template>
      <ng-template ngbPaginationNext>
          <div jhiTranslate="global.paginator.next">Next</div>
      </ng-template>
  </ngb-pagination>
</div>
