<ion-header>
    <ion-toolbar>
        <div class="header-icon close">
            <ion-button class="icon close" slot="start" [routerLink]="'/auth/login'" routerDirection="back">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 class="title-lg">Password<br>esquecida?</h1>

    <form (ngSubmit)="requestReset(f)" #f="ngForm">
        <ion-item no-padding class="form">
            <ion-grid class="form">
                <ion-row>
                    <div class="form">
                        <ion-label class="form" position="floating">Introduza o seu e-mail</ion-label>
                        <ion-input class="form" type="email" name="email" email required ngModel #email="ngModel"></ion-input>
                    </div>
                </ion-row>
                <ion-row>
                    <div class="form-error">
                        <ion-label *ngIf="!email.valid && email.touched"><span>E-mail inválido</span></ion-label>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-item>
        <br><br>

        <ion-button class="main-button" color="primary" shape="round" expand="full" [disabled]=!f.valid type="submit">
            Recuperar password
        </ion-button>

    </form>

</ion-content>

