<div class="modal-header">
    <h2 jhiTranslate="backoffice.home.tutors.enrollment">Enrollment</h2>
</div>

<div class="modal-body">
    <span jhiTranslate="backoffice.home.tutors.enrollmentMessage">You must first fill the enrollment form available</span>
    <a jhiTranslate="backoffice.home.tutors.enrollmentUrl" href="{{ enrollmentUrl }}" target="_blank">here</a>
</div>

<div class="modal-footer">
    <button jhiTranslate="backoffice.close" type="button" class="btn btn-default btn-xs" (click)="close()">Close</button>
</div>
