<div class="modal-header">
    <h4 jhiTranslate="backoffice.home.busCompany.services.deleteService">Delete Service</h4>
    <button type="button" class="btn btn-light" (click)="dismiss()">
        <fa-icon icon="xmark" class="pe-2"></fa-icon>
        {{ 'backoffice.cancel' | translate }}
    </button>
</div>

<div class="modal-body">
    <span jhiTranslate="backoffice.home.busCompany.services.deleteMessage">Are you sure you want to delete this service?</span>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-circle btn-outline-danger" (click)="delete()">
        <fa-icon icon="trash" class="pe-2"></fa-icon>
        {{ 'backoffice.delete' | translate }}
    </button>
</div>
