<ion-header class="ion-padding">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-icon class="back router" color="primary" ios="arrow-back" md="arrow-back" [routerLink]="['/app/settings/about', {from: fromInformation}]" routerDirection="back"></ion-icon>
      </ion-buttons>
      <ion-title class="display">FAQs / Sugestões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="coming-soon">
      <div>
          <ion-icon class="md-bus" ios="bus" md="bus"></ion-icon>
      </div>
      <br>
      <div> Novidades em breve!</div>
  </div>

</ion-content>
