<div class="modal-header">
    <h4 jhiTranslate="backoffice.home.busCompany.itinerary.error-child-stop-point">Error in selection of stops in children</h4>
    <button type="button" class="btn btn-light" (click)="close()">
        <fa-icon icon="xmark" class="pe-2"></fa-icon>
        {{ 'backoffice.close' | translate }}
    </button>
</div>

<div class="modal-body">
    <p jhiTranslate="backoffice.home.busCompany.itinerary.error-child-stop-point-message">
        Not all children have a recover and deliver point selected!
    </p>
</div>

<div class="modal-footer">
</div>
