<h1 jhiTranslate="backoffice.home.famility.tutors" class="lg-title mb-0">Tutors</h1>

<jhi-alert></jhi-alert>

<br>

<form class="form-row d-flex">
    <div class="d-flex w-25">
        <input type="text" class="form-control" placeholder="{{'backoffice.search-name' | translate}}" name="filterTutor" [(ngModel)]="tutorFilter"
               (ngModelChange)="textSearchUpdate.next($event)">
    </div>
    <button class="btn btn-light margin-l-10" type="submit" (click)="resetFilter()">
        {{ 'audits.filter.button.clear' | translate }}
    </button>
</form>

<hr>

<div class="tab row tab-gutter-x-0">
    <button jhiTranslate="backoffice.home.famility.active"
            class="tablinks col-md-2 center" [ngClass]="{'active font-white':showActive, 'deactivated':!showActive}"
            (click)="showActiveTutors()">
        Active
    </button>
    <button jhiTranslate="backoffice.home.famility.inactive"
            class="tablinks col-md-2 center" [ngClass]="{'active font-white':showInactive, 'deactivated':!showInactive}"
            (click)="showInactiveTutors()">
        Inactive
    </button>
</div>

<div *ngIf="tutors.length > 0">
    <div class="margin-t-15">
        <p-table [value]="tutors" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th jhiTranslate="backoffice.home.famility.name">Name</th>
                    <th jhiTranslate="backoffice.home.famility.phoneNumber">Phone Number</th>
                    <th jhiTranslate="backoffice.home.famility.nif">Tax ID</th>
                    <th jhiTranslate="backoffice.home.famility.creationDate">Creation Date</th>
                    <th></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-tutor>
                <tr>
                    <td (click)="goToDetailed(tutor.id)" class="pointer">
                        <img class="sm-avatar margin-r-15" alt="Tutor Photo"
                             [src]="tutor.photo ? 'data:image/jpg;base64,' + tutor.photo : '/content/images/empty_photo.svg'">
                        {{ tutor.name }}
                    </td>
                    <td (click)="goToDetailed(tutor.id)" class="pointer">{{ tutor.phoneNumber }}</td>
                    <td (click)="goToDetailed(tutor.id)" class="pointer">{{ tutor.nifNumber }}</td>
                    <td (click)="goToDetailed(tutor.id)" class="pointer">{{ tutor.createdDate | formatExpressionDate }}</td>
                    <td>
                        <button class="btn btn-circle btn-primary font-white float-end" *ngIf="!showActive"
                                (click)="setTutorStatus(tutor.id, tutor.name, activeTutor)">
                            <fa-icon icon="user-plus" class="pe-2"></fa-icon>
                            {{ 'backoffice.activate' | translate }}
                        </button>
                        <button class="btn btn-circle btn-primary font-white float-end" *ngIf="showActive"
                                (click)="setTutorStatus(tutor.id, tutor.name, inactiveTutor)">
                            <fa-icon icon="user-minus" class="pe-2"></fa-icon>
                            {{ 'backoffice.inactivate' | translate }}
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div class="pagination margin-t-15">
            <ngb-pagination [collectionSize]="totalItems" [page]="page + 1" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" (pageChange)="navigateToPage($event)">
                <ng-template ngbPaginationPrevious>
                    <div jhiTranslate="global.paginator.previous">Previous</div>
                </ng-template>
                <ng-template ngbPaginationNext>
                    <div jhiTranslate="global.paginator.next">Next</div>
                </ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>

<div *ngIf="tutors.length == 0">
    <div class="margin-t-15 center">
        <h6 class="margin-b-0">
            <i *ngIf="showActive" jhiTranslate="backoffice.home.famility.noActiveTutors">There are no active tutors</i>
            <i *ngIf="!showActive" jhiTranslate="backoffice.home.famility.noInactiveTutors">There are no inactive tutors</i>
        </h6>
    </div>
</div>
<br><br>
